<%- include('../partials/header', {title:"Play: P, R, S"}) -%>

<h1> Trinity Team Archives! </h1>

<body>
  <% for (sport in data) { %>
    <% for (gender in data[sport]) { %>

<div class="card" style="width: 100rem;">
<div class="card-body">
  <h5 class="card-title"><%=gender%>' <%=sport%> Past Championships: <%=data[sport][gender]["Championships"]%></h5>
</div>
</div>

<% }} %>

</body>




  <%- include('../partials/footer') -%>
