<% if (user) { %>
<%- include('partials/header', {title:"TSPN"}, {data:data}, {userData: userData} ) -%>
<% } else { %>

  <% } %>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<% if (user) { %>
<h1> HIGHLIGHTS </h1>
<% for (video in videoNames) { %>
<video width="320" height="300" controls>
  <source src= "/videos/<%=videoNames[video]['filename']%>" type="video/mp4"/>
</video>
<% } %>
<br><br><br><br>
<h1> UPCOMING GAMES </h1>
<br><br><br><br>
<body>
  <% for (sport in data) { %>
    <% for (gender in data[sport]) { %>
<% for (let games in data[sport][gender]["UpcomingGames"]) { %>
<div class="card bg-primary mb-3 border-primary mb-3" style="width: 100rem; background: linear-gradient(to right, yellow, blue); border-width: 1em;">
<div class="card-body">
  <h5 class="card-title" style= "color:blue;"><%=gender%>' <%=sport%>: <%=data[sport][gender]["UpcomingGames"][games]%></h5>
  <p class="card-text"><%=data[sport][gender]["GameInfo"][games]%></p>
</div>
</div>

<% }}} %>
<%}else{ %>
  <style>
  .login {
    width:1500px;
    height: 1500px;
    background: red;
    position: relative;
    animation-name: login;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-fill-mode: both;
    font-size:30px;
    margin: auto;
    text-align: center;
    font-family: Monospace;
  }

.images {
  position: relative;
  animation-name: imgMove;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-fill-mode: both;
}

@keyframes imgMove {
  from {left: 0px; width: 100px;}
  to {left: 675px; width: 500px;}
}
  @keyframes login {
    from {top: 0px; background-color: blue;}
    to {top: 50px; background-color: yellow;}
  }
  </style>
  <div class = "images"> <img src="/images/TSPN.png" width="100px"/> </div>
  <div class = "login"> <a href="/login"> <br><br><br><br><br><br><br><br>Click to login</a></div>
    <% }%>

</body>




  <%- include('partials/footer') -%>
