<%- include('partials/header', {title:"TSPN"}, {data:data}) -%>

  <br>
  <br>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<h1> HIGHLIGHTS </h1>

<h1> UPCOMING GAMES </h1>

<body>
  <% for (sport in data) { %>
    <% for (gender in data[sport]) { %>

<div class="card" style="width: 100rem;">
<div class="card-body">
  <h5 class="card-title"><%=gender%>' <%=sport%>: <%=data[sport][gender]["UpcomingGames"]%></h5>
  <p class="card-text">Some information regarding the game.</p>
</div>
</div>

<% }} %>

</body>

  <h1> RECORD </h1>

  <h1> STATISTICS </h1>




  <%- include('partials/footer') -%>
