<% if (user) { %>
<%- include('partials/header', {title:"TSPN"}, {data:data}, {userData: userData} ) -%>
<% } %>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<% if (date) { %>
<% if (user) { %>
<h1> HIGHLIGHTS </h1>
<% for (video in videoNames) { %>
<video width="320" height="300" controls>
  <source src= "/videos/<%=videoNames[video]['filename']%>" type="video/mp4"/>
</video>
<% } %>
<br><br><br><br>
<h1> UPCOMING GAMES </h1>
<br><br><br><br>
<body>
  <% for (sport in data) { %>
    <% for (gender in data[sport]) { %>
<% for (let games in data[sport][gender]["UpcomingGames"]) { %>

<% if (data[sport][gender]["UpcomingGames"][games].split("/")[0] >= parseInt(date.split("-")[1]) && data[sport][gender]["UpcomingGames"][games].split("/")[1] >= parseInt(date.split("-")[2]) ) { %>
<div class="card bg-primary mb-3 border-primary mb-3" style="width: 100rem; background: linear-gradient(to right, yellow, blue); border-width: 1em;">
<div class="card-body">
  <h5 class="card-title" style= "color:blue;"><%=gender%>' <%=sport%>: <%=data[sport][gender]["UpcomingGames"][games]%></h5>
  <p class="card-text"><%=data[sport][gender]["GameInfo"][games]%></p>
</div>
</div>

<% }}}} %>
<%}else{ %>
  <a href="/login">Click to login</a>
    <% } } %>

</body>




  <%- include('partials/footer') -%>
