<%- include('../partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Opponent - <%=opponent.name%></h2>

<img src="<%=opponent.photo%>" height=150 />

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=opponent.name%>
    </td>
  </tr>
  <tr>
    <th>
      Wins:
    </th>
    <td>
      <%=opponent.win%>
    </td>
  </tr>
  <tr>
    <th>
      Losses:
    </th>
    <td>
      <%=opponent.lose%>
    </td>
  </tr>
  <tr>
    <th>
      Ties:
    </th>
    <td>
      <%=opponent.tie%>
    </td>
  </tr>
  <tr>
    <th>
      Win %:
    </th>
    <td>
      <%=opponent.win_percent%>
    </td>
  </tr>
</table>

<%- include('../partials/footer') -%>