<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<% if (user) { %>
<h2>Welcome, <%=user._json.email.split("@")[0]%>!</h2>


<form action="/sport/result" method="POST">

    <label for="upcominggames"> Which Game?:</label>
    <select id="game" name="game">

      <% for (sport in data) { %>
        <% if((userData[user._json.email]["sport"] == sport)||(userData[user._json.email]["sport"] == 'admin')) { %>
        <% for (team in data[sport]) { %>
          <% for (let i = 0; i < data[sport][team]["UpcomingGames"].length; i++) { %>
          <% if (data[sport][team]["scores"][i] == " " && data[sport][team]["UpcomingGames"][i].split("/")[0] < parseInt(time.split("-")[1]) || data[sport][team]["UpcomingGames"][i].split("/")[0] == parseInt(time.split("-")[1]) && data[sport][team]["UpcomingGames"][i].split("/")[1] <= parseInt(time.split("-")[2])) { %>
      <option value="<%=sport%> <%=team%> <%=data[sport][team]["UpcomingGames"][i]%>"> <%=sport%> <%=team%> <%=data[sport][team]["UpcomingGames"][i]%></option>
        </br></br>
      <%}}}}}%>
      </select>
        </br></br>
      <label for="Game Information"> Trinity score:</label>
      <input class="lead" type="text" id="Trinity" name="Trinity" value="" required/>
      <label for="Game Information"> Opponent Score:</label>
      <input class="lead" type="text" id="Opponent" name="Opponent" value="" required/>
      </br></br>
   <br></br></br>
   <input type="submit" value="Upload Game Result" required/>
</form>



<% } %>
<%- include('../partials/footer') -%>
