<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<% if (user) { %>
<h2>Welcome, <%=user._json.email.split("@")[0]%>!</h2>


<form action="/sport/removeSport" method="POST">
  <label for="sportteam"> Which Sport?:</label>
  <select id="game" name="game" required/>
    <% for(let sport in data){ %>
      <% for(let team in data[sport]){ %>
        <% for (let game in data[sport][team]["UpcomingGames"]) { %>
        <% if((userData[user._json.email]["sport"] == sport)||(userData[user._json.email]["sport"] == 'admin')) { %>
      <option value="<%=sport%> <%=team%> <%=data[sport][team]["UpcomingGames"][game]%>"><%=sport%> <%=team%> <%=data[sport][team]["UpcomingGames"][game]%></option>
      <%}}}}%>
    </select>
    </br></br></br>
   <input type="submit" value="Remove Game From Schedule" required/>
</form>



<% } %>
<%- include('../partials/footer') -%>
