<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<h2>Trinity <%=sport%> Team!</h2>
<br><br><br>
<h3> Highlights: </h3>
<% for (video in videoNames) { %>
  <% if(videoNames[video]['sport'].split("|")[0] == sport) {%>
<video width="320" height="300" controls>
  <source src= "/videos/<%=videoNames[video]['filename']%>" type="video/mp4">
</video>
<% }} %>
<br><br><br><br>
<% for (image in imageNames) { %>
  <% if(imageNames[image]['sport'].split("|")[0] == sport) {%>
  <img src= "/images/<%=imageNames[image]['filename']%>" alt="<%=imageNames[image]['originalName']%>" width = "400" height = "400"/>
<% }} %>
<br><br><br>
<h3> Upcoming Games: </h3>
  <% for (gender in data[sport]) { %>
<% if (data[sport][gender]["UpcomingGames"].length > 0){ %>
  <% for (let games in data[sport][gender]["UpcomingGames"]) { %>
  <% if (data[sport][gender]["UpcomingGames"][games].split("/")[0] >= parseInt(time.split("-")[1]) && data[sport][gender]["UpcomingGames"][games].split("/")[1] >= parseInt(time.split("-")[2])) { %>
<div class="card bg-primary mb-3 border-primary mb-3" style="width: 100rem; background: linear-gradient(to right, yellow, blue); border-width: 1em;">
<div class="card-body">
<h5 class="card-title" style= "color:blue;"><%=gender%> <%=sport%>: <%=data[sport][gender]["UpcomingGames"][games]%></h5>
<p class="card-text"><%=data[sport][gender]["GameInfo"][games]%></p>
</div>
</div>

<% }}}} %>

<h3> Past Games: </h3>
<% for (gender in data[sport]) { %>
<% if (data[sport][gender]["UpcomingGames"].length > 0){ %>
<% for (let games in data[sport][gender]["UpcomingGames"]) { %>
<% if ((data[sport][gender]["UpcomingGames"][games].split("/")[0] == parseInt(time.split("-")[1]) && data[sport][gender]["UpcomingGames"][games].split("/")[1] < parseInt(time.split("-")[2])) || (data[sport][gender]["UpcomingGames"][games].split("/")[0] < parseInt(time.split("-")[1]))) { %>
<div class="card bg-primary mb-3 border-primary mb-3" style="width: 100rem; background: linear-gradient(to right, yellow, blue); border-width: 1em;">
<div class="card-body">
<h5 class="card-title" style= "color:blue;"><%=gender%> <%=sport%>: <%=data[sport][gender]["UpcomingGames"][games]%></h5>
<p class="card-text"><%=data[sport][gender]["GameInfo"][games]%></p>
<p class="card-text" style = "color:blue;"><%=data[sport][gender]["scores"][games]%></p>
</div>
</div>

<% }}}} %>
<br><br><br>
<% for (gender in data[sport]) { %>
<h3> <%=gender%> Record: <%=data[sport][gender]["Wins"]%> - <%=data[sport][gender]["Losses"]%> </h3>
<%}%>
<br><br><br>
<%- include('../partials/footer') -%>
