<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData} ) -%>

<h2>Trinity <%=sport%> Team!</h2>
<br><br><br>
<h3> Highlights: </h3>
<% for (video in videoNames) { %>
  <% if(videoNames[video]['sport'] == sport) {%>
<video width="320" height="300" controls>
  <source src= "/videos/<%=videoNames[video]['filename']%>" type="video/mp4">
</video>
<% }} %>
<br><br><br>
<h3> Next Game: </h3>
  <% for (gender in data[sport]) { %>
<% if (data[sport][gender]["UpcomingGames"].length > 0){ %>
<div class="card bg-primary mb-3 border-primary mb-3" style="width: 100rem; background: linear-gradient(to right, yellow, blue); border-width: 1em;">
<div class="card-body">
<h5 class="card-title" style= "color:blue;"><%=gender%> <%=sport%>: <%=data[sport][gender]["UpcomingGames"][0]%></h5>
<p class="card-text"><%=data[sport][gender]["GameInfo"][0]%></p>
</div>
</div>

<% }} %>
<br><br><br>
<% for (gender in data[sport]) { %>
<h3> <%=gender%> Record: <%=data[sport][gender]["Wins"]%> - <%=data[sport][gender]["Losses"]%> </h3>
<%}%>
<br><br><br>
<%- include('../partials/footer') -%>
