<%- include('../partials/header', {title:"Results: P, R, S"}) -%>

<img src="<%=data.photo%>" height=150 />
<h2><%=data.opponentName%> threw <%=data.opponentThrow%></h2>
<h2>You threw <%=data.playerThrow%></h2>
<% let outcome = "win"; %>
<% if(data.outcome == "opponent") outcome = "lose"; %>
<% if(data.outcome == "tie") outcome = "tie"; %>
<%= weather%>

<h1>You <%=outcome%>!</h1>

<%- include('../partials/footer') -%>
