<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<% if (user) { %>
<h2>Welcome, Admin <%=user._json.email.split("@")[0]%>!</h2>
<body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<div id="myPlot" style="width:100%;max-width:700px"></div>
<script>
  console.log('<%=xAxis%>');
  console.log('<%=yAxis%>');
  var data = [
  {
    x: ['<%=xAxis%>'],
    y: ['<%=yAxis%>'],
    type: "bar"
  }
];
var layout = {
  title: "User Activity",
  xaxis: {tickfont: {
      size: 15,
      color: "rgb(0,0,128)",
      title: "Sports",
      tickangle: -45
    }},
  yaxis: {
    title: "Page Visits",
    titlefont: {
      size: 15,
      color: "rgb(0,0,128)"
    }
  }
}
var graphOptions = {filename: "basic-bar", fileopt: "overwrite"};
Plotly.newPlot('myPlot', data, layout);
</script>
</body>

<% } %>
<%- include('../partials/footer') -%>
