<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<% if (user) { %>
<h2>Welcome, Admin <%=user._json.email.split("@")[0]%>!</h2>
<body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<div id="myPlot" style="width:100%; height: 100%"></div>
<script>

 let x;
x = [<% for (sports in xAxis) { %> <% if (xAxis[sports] != "Lacrosse") { %> '<%=xAxis[sports]%>', <% } else { %>  '<%=xAxis[sports]%>' <% } %>  <% } %>]

  var data = [
  {
    x: x,
    y: [ <% for (values in yAxis) { %>
      <%=yAxis[values]%>,
      <% } %>
    ],
    type: "bar"
  }
];
var layout = {
  title: "User Activity",
  height: 800,
  width:  1200,
  xaxis: {tickfont: {
      size: 13,
      color: "rgb(0,0,128)",
      title: "Sports",
      tickangle: -45
    }},
  yaxis: {
    title: "Page Visits",
    titlefont: {
      size: 15,
      color: "rgb(0,0,128)"
    }
  }
}
var graphOptions = {filename: "basic-bar", fileopt: "overwrite"};
Plotly.newPlot('myPlot', data, layout);
</script>
</body>

<% } %>
<%- include('../partials/footer') -%>
